<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web01</display-name>
  <servlet>
    <display-name>Recurso</display-name>
    <servlet-name>Recurso</servlet-name>
    <servlet-class>org.uscosoft.recurso.Recurso</servlet-class>
  </servlet>
  <servlet>
    <display-name>Compra</display-name>
    <servlet-name>Compra</servlet-name>
    <servlet-class>org.uscosoft.tienda.Compra</servlet-class>
  </servlet>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.uscosoft.seguridad.Login</servlet-class>
    <init-param>
      <param-name>usuario</param-name>
      <param-value>CARLOS</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recurso</servlet-name>
    <url-pattern>/Recurso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Compra</servlet-name>
    <url-pattern>/Compra</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>RESTRICCIONES PERFIL ADMINISTRADOR</display-name>
    <web-resource-collection>
      <web-resource-name>ADMINISTRACION</web-resource-name>
      <url-pattern>/usuario/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMINISTRADOR</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>RESTRICCIONES PERFIL DOCENTE</display-name>
    <web-resource-collection>
      <web-resource-name>DOCENTE</web-resource-name>
      <url-pattern>/usuario/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>DOCENTE</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>RESTRICCIONES PERFIL ESTUDIANTE</display-name>
    <web-resource-collection>
      <web-resource-name>ESTUDIANTE</web-resource-name>
      <url-pattern>/usuario/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ESTUDIANTE</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>SEGURIDAD</realm-name>
    <form-login-config>
      <form-login-page>/login/login.jsp</form-login-page>
      <form-error-page>/login/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMINISTRADOR</role-name>
  </security-role>
  <security-role>
    <role-name>ESTUDIANTE</role-name>
  </security-role>
  <security-role>
    <role-name>DOCENTE</role-name>
  </security-role>
  <security-role>
    <role-name>EGRESADO</role-name>
  </security-role>
  <servlet>
    <description>Programa</description>
    <display-name>Programa</display-name>
    <servlet-name>Programa</servlet-name>
    <servlet-class>org.uscosoft.programa.Programa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Programa</servlet-name>
    <url-pattern>/Programa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Users</description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>org.uscosoft.users.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Perfil</description>
    <display-name>Perfil</display-name>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>org.uscosoft.perfil.Perfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/Perfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Curso</description>
    <display-name>Curso</display-name>
    <servlet-name>Curso</servlet-name>
    <servlet-class>org.uscosoft.curso.Curso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Curso</servlet-name>
    <url-pattern>/Curso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Cursodocente</description>
    <display-name>Cursodocente</display-name>
    <servlet-name>Cursodocente</servlet-name>
    <servlet-class>org.uscosoft.cursodocente.Cursodocente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cursodocente</servlet-name>
    <url-pattern>/Cursodocente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Cursoestudiante</description>
    <display-name>Cursoestudiante</display-name>
    <servlet-name>Cursoestudiante</servlet-name>
    <servlet-class>org.uscosoft.cursoestudiante.Cursoestudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cursoestudiante</servlet-name>
    <url-pattern>/Cursoestudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Estudiante</description>
    <display-name>Estudiante</display-name>
    <servlet-name>Estudiante</servlet-name>
    <servlet-class>org.uscosoft.estudiante_curso.Estudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Estudiante</servlet-name>
    <url-pattern>/Estudiante</url-pattern>
  </servlet-mapping>
</web-app>