<html>

<head>
<tittle>Formulario</head>
</head>

<body>

<form>
<p>Apellido: <input type="text" id="apellido"></p>

<p>Nombre:  <input type="text" id="nombre"></p>

<p>Seleccione su deporte preferido:<br/>
   <input type="Checkbox" id="futbol">Futbol<br/>
   <input type="Checkbox" id=natacion>Natacion<br/>	
   <input type="Checkbox" id="baloncesto" checked="checked">Baloncesto<br/>
</p>

<p>Genero:<br/>   <input name="genero" type="radio" id="genero" value="F">Femenino<br/> 
	          <input name="genero" type="radio" id="genero" value="M">Masculino
</p> 

<p>Programa:<br/>	<select id="programa">
			<option value="TDS">Tecnologia en desarrollo de software
			<option value="electronica">Ingenieria electronica  
			<option value="empresas">Administracion de empresas
			</select>
</p><br/>

<p>Observacion:<br/>	<textarea id="observacion" cols="80" rows="5">
			</textarea>

</p>

<p>Ingrese el archivo:	<input name="imagen" type="file" id="archivo">
</p>

<p>		<input type="submit" value="Enviar">
		<input type="reset" value="Reestablecer">
		<input type="button" value="Validar">	
</p>

</form>

</body>


</html>