<html>

<head>
<title> Tablas  </title>
</head>

<body>

<h1 align="center"> TABLAS </h1>
 
<table align="center" border="1" width="40%">

<tr>
<td align="center" colspan="2">celda 1,1 -1,2</td>
<!-- como se unen las columnas, se elimina la siguiente columna:
<td align="center">celda 1,2 </td>-->
<td align="center">celda 1,3 </td>
</tr>

<tr>
<td align="center">celda 2,1 </td>
<td align="center">celda 2,2 </td>
<td align="center"  rowspan="2">celda 2,3 -3,3</td>
</tr>

<tr>
<td align="center">celda 3,1 </td>
<td align="center">celda 3,2 </td>
<!--<td align="center">celda 3,3 </td>-->
</tr>


</table>


</body>


</html>