<html>

<head>
<title> FANATICO DE MAGO DE OZ </title>
</head>

<body>

<h1 align="center"> IMAGENES DE MAGO DE OZ </h1>
<h2 align="center"> Diabulus in Gaia       </h2>

<img align="left" src="imagen2.jpg"/>
<br clear="all"/>

<center>
<img  src="imagen01.jpg"/>
</center>

<img align="right" src="imagen2.jpg"/>
<br clear="all"/>

<p><img src="imagen01.jpg" vspace="10" hspace="10" align="left"/>Mägo de Oz
 es un grupo español de Folk Metal formado en mayo de 1988 por el baterista 
Txus di Fellatio en el Barrio de Begoña, Madrid. Inicialmente llamado 
Transilvania, en honor a Iron Maiden, no sería hasta 1989 cuando pasara a
 llamarse Mägo de Oz.
A pesar de las controversias varias que les han atribuido sus detractores 
casi desde sus inicios (desde acusaciones de comercialidad por su éxito en 
listas de música convencional, hasta acusaciones de satanismo o vampirismo 
por parte de diversas organizaciones religiosas en España y América Latina, 
especialmente desde la salida de su décimo álbum, Gaia II: La Voz Dormida),
Mägo de Oz se ha consagrado definitivamente[cita requerida] como una de las 
bandas más importantes no solo del panorama Folk Metal español actual, sino 
de la historia del Rock duro y Metal español.</p>


</body>


</html>